@model DemoApp.Models.Site

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Site</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SiteId" />
            <div class="form-group">
                <label asp-for="SiteNumber" class="control-label"></label>
                <input asp-for="SiteNumber" class="form-control" />
                <span asp-validation-for="SiteNumber" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="SiteDoctor" class="control-label"></label>
                    <input asp-for="SiteDoctor" class="form-control" />
                    <span asp-validation-for="SiteDoctor" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="MedicationUnits" class="control-label"></label>
                    <input asp-for="MedicationUnits" class="form-control" />
                    <span asp-validation-for="MedicationUnits" class="text-danger"></span>
                </div>
            </div>
         <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Sites Register</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
