@model DemoApp.Models.Depot

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Depot</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input value="1" type="number" asp-for="DepotId" />
             </div>
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Depots</a>
                </div>
            </div>
        </form>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
